.parent {
    background: orange;
    padding: 10px;
}
.child {
    background: palegreen;
    padding: 10px;
}
.grand {
    background: papayawhip;
    padding: 10px;
}
.title {
    font-size: 40px;
    font-weight: bolder;
    color: royalblue;
    text-decoration: underline;
    margin: 40px 0 10px;
}